docs/tools/field-rehearsal/node-red/flow-template.json
[
  {
    "id": "field_rehearsal_tab",
    "type": "tab",
    "label": "field-rehearsal",
    "disabled": false,
    "info": "Minimal serial -> reconstruct -> mqtt/http rehearsal flow"
  },
  {
    "id": "serial_in_note",
    "type": "comment",
    "z": "field_rehearsal_tab",
    "name": "Replace serial input with your real serial node",
    "info": "Use node-red-node-serialport in local Node-RED. This template only records the intended flow shape.",
    "x": 220,
    "y": 60,
    "wires": []
  },
  {
    "id": "inject_sample",
    "type": "inject",
    "z": "field_rehearsal_tab",
    "name": "Inject hf-normal sample",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"schema_version\":1,\"device_id\":\"2c1f2d8e-2bb7-4f58-bb6a-6c2a0f4a7a4c\",\"event_ts\":\"2026-03-24T10:00:00Z\",\"seq\":1001,\"metrics\":{\"tilt_x_deg\":0.18,\"tilt_y_deg\":0.09,\"battery_pct\":87,\"warning_flag\":false}}",
    "payloadType": "json",
    "x": 170,
    "y": 140,
    "wires": [
      [
        "validate_shape"
      ]
    ]
  },
  {
    "id": "validate_shape",
    "type": "function",
    "z": "field_rehearsal_tab",
    "name": "Validate basic shape",
    "func": "const p = msg.payload || {};\nif (p.schema_version !== 1) {\n  node.error('invalid schema_version', msg);\n  return null;\n}\nif (!p.device_id) {\n  node.error('missing device_id', msg);\n  return null;\n}\nif (!p.metrics || typeof p.metrics !== 'object') {\n  node.error('missing metrics', msg);\n  return null;\n}\nmsg.packet_class = (p.meta && p.meta.packet_class) || 'hf_normal';\nmsg.payload_bytes = Buffer.byteLength(JSON.stringify(p), 'utf8');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 140,
    "wires": [
      [
        "debug_packet",
        "switch_budget"
      ]
    ]
  },
  {
    "id": "debug_packet",
    "type": "debug",
    "z": "field_rehearsal_tab",
    "name": "Packet debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 650,
    "y": 100,
    "wires": []
  },
  {
    "id": "switch_budget",
    "type": "switch",
    "z": "field_rehearsal_tab",
    "name": "Budget <= 192 bytes?",
    "property": "payload_bytes",
    "propertyType": "msg",
    "rules": [
      {
        "t": "lte",
        "v": "192",
        "vt": "num"
      },
      {
        "t": "gt",
        "v": "192",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 670,
    "y": 180,
    "wires": [
      [
        "ready_for_uplink"
      ],
      [
        "reject_debug"
      ]
    ]
  },
  {
    "id": "ready_for_uplink",
    "type": "debug",
    "z": "field_rehearsal_tab",
    "name": "Ready for MQTT/HTTP uplink",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 950,
    "y": 150,
    "wires": []
  },
  {
    "id": "reject_debug",
    "type": "debug",
    "z": "field_rehearsal_tab",
    "name": "Rejected / downgrade candidate",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 960,
    "y": 220,
    "wires": []
  }
]
